<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opengles.book.es2_0">

    <!-- requires OpenGL ES 2.0. -->
    <!-- 3.0  ->  0x00030000，  3.0 -> 0x00030001 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ES2_0MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".render.FGLViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".render.ChooseActivity" />
        <activity android:name=".image.SGLViewActivity" />
        <activity android:name=".vary.VaryingActivity" />
        <activity android:name=".camera.camera1.CameraActivity" />
        <activity android:name=".etc.ZipActivity" />
        <activity android:name=".fbo.FBOActivity" />
        <activity android:name=".egl.EGLActivity" />
        <activity android:name=".camera.camera2.Camera2Activity" />
        <activity android:name=".camera.camera3.Camera3Activity" />
        <activity android:name=".vr.VRActivity"></activity>
    </application>

</manifest>