<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opengles.book.es2_0_test">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <activity android:name=".ES2_0TestMainActivity" />
        <activity
            android:name=".camera.preview.PreviewCameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".camera.takepic.TakePictureActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
