<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gl.opengles_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day01.triangle.RendererActivity" />
        <activity android:name=".day01.point.PointActivity" />
        <activity android:name=".day01.point.PointSizeActivity" />
        <activity android:name=".day01.line.LineActivity" />
        <activity android:name=".day01.line.LineStripActivity" />
        <activity android:name=".day01.triangle.TriangleActivity" />
        <activity android:name=".day01.triangle.TriangleConeActivity" />
        <activity android:name=".day01.scissor.ScissorActivity" />

        <activity android:name=".day02.StencilActivity" />
        <activity android:name=".day02.sphere.SphereActivity" />
        <activity android:name=".day02.ring.RingActivity" />
        <activity android:name=".day02.cube.CubeActivity" />
        <activity android:name=".day02.cube.ColorCubeActivity" />
        <activity
            android:name=".day02.light.LightActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".day03.light.LightReviewActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity android:name=".day03.blend.BlendActivity" />
        <activity android:name=".day03.antalias.AntliaActivity" />
        <activity android:name=".day03.antalias.AntliaActivity2" />
        <activity android:name=".day03.fog.FogActivity" />
        <activity android:name=".day03.tex.TexActivity" />
    </application>

</manifest>