<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycl.es2_0_native">

    <application>
        <activity android:name=".NativeActivity" />
        <activity android:name=".YUVActivity"></activity>
    </application>

</manifest>